name: Ruby

on:
  workflow_call:

  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest
    name: Ruby ${{ matrix.ruby }}
    strategy:
      matrix:
        ruby:
          - '4.0.0'
    steps:
      - uses: actions/checkout@v4
        name: Checkout code

      - name: Set up Ruby
        uses: ruby/setup-ruby@v1
        with:
          ruby-version: ${{ matrix.ruby }}
          bundler-cache: false

      - name: Install dependencies
        run: bundle install --jobs 4 --retry 3

      - name: Run the default rake task
        run: bundle exec rake
        env:
          COVERAGE: "true"

      - name: Upload coverage
        uses: actions/upload-artifact@v4
        with:
          name: coverage-last-run
          path: coverage/
          include-hidden-files: true
